.cursor
*.jl.cov
*.jl.*
*.log
__pycache__/
*.pyc
.DS_Store
.env
*.swp
.ipynb_checkpoints/
test/results/
test/.cache/
src/*.jl~
*.cache
*.bak
*.tmp
/.vscode/
.julia/
*.so
*.dylib
*.exe
*.out
Manifest.toml